:root {
  background: #121212;
  --cell-size: 7vh;
}

@media (max-width: 800px) {
  :root{
    --cell-size: 4vh;
  }
}

.App {
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
  display: block;
}

h1 {
  color: white;
}
